.jumbotron {
    background-image: url('../images/big_blue_background.png');
    background-size: cover;
    background-position: center;
    color: #fff; /* Set text color to ensure readability */
    height: 800px;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
    margin-bottom: 0px;
}




@media (min-width: 375px) {
  .jumbotron {padding:0px;}
  #profile-pic{ padding-top:80px;}
}


@media (min-width: 1200px) {
  #profile-pic { content: url('../images/chris_profile_lg.png'); }
  #headName { font-size: 35px!important;font-weight:bold!important; }
  #headSubName { font-size: 24px!important;font-weight:bold!important; }
}




.portfolioImages {
  width:700px;
}


@media (max-width: 1200px) {
  .portfolioImages { width:500px; }
}
@media (max-width: 800px) {
  .portfolioImages { width:310px; }
}





#titleBk {
  padding-left: 0px;
  padding-right: 0px;
}


/* START Scroll to top button */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #377b73; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
/* END Scroll to top button */



body {
  background-color: #000;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}
